<mat-card *ngIf="assignmentTransmis">
  <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
  <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
  <div class="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>

    <nav>
      <!-- la route "relative" marche aussi car on est déjà dans /assignment/id
            Le fait de naviguer vers ['edit'] rajoute edit à la fin -->
      <!--<a [routerLink]="['edit']"> -->

        <!-- ici exemple avec route absolue (commence par /) -->
        <!--
          <a [routerLink]="['/assignment', assignmentTransmis.id, 'edit']">
          -->

        <button [disabled]="!isAdmin()" mat-stroked-button color="primary" (click)="onClickEdit()">
          EDIT
        </button>
        <!--
      </a>
    -->
    </nav>

    <button mat-raised-button color="accent" (click)="onDeleteAssignment()">
      DELETE
    </button>
  </div>
</mat-card>
