<mat-card *ngIf="assignmentTransmis">
  <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
  <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>

  <h4> Matière : <a [routerLink]="'/matiere/' + matieres[assignmentTransmis.idMatiere - 1].id">{{matieres[assignmentTransmis.idMatiere - 1].name}}</a></h4>

  <div class="bottom">
    <mat-checkbox (click)="onAssignmentRendu()" *ngIf="!assignmentTransmis.rendu">
      Rendu
    </mat-checkbox>

    <nav>
      <button (click)="onClickEdit()" [disabled]="!isAdmin" color="primary" mat-stroked-button>
        EDIT
      </button>
    </nav>

    <button (click)="onDeleteAssignment()" color="accent" mat-raised-button>
      DELETE
    </button>
  </div>
</mat-card>
