button {
  margin: -10px 10px 10px 30px;
}

.mat-header-cell {
  font-size: 20px;
  background-color: lightgrey;
}

.mat-cell {
  vertical-align: middle !important;
}

.filter {
  width: 100%;
}

.rendu {
  background-color: green;
  color: white;
}

.nonRendu {
  background-color: red;
  color: white;
}

.table {
  width: 100%;
}

.table-container {
  margin: 30px;
  justify-content: center;
}

.paginator {
  margin-top : -20px;
  margin-right: 30px;
  float : right;
}
.checkbox {
  margin-top : -20px;
  margin-right: 30px;
  float : right;
}

mat-checkbox {
  margin-left: 10px;
}


tr.detail-row {
  height: 0;
}


tr.assignment-row:not(.expanded-row):hover {
  background: whitesmoke;
}

.expanded-row {
  background-color: whitesmoke;
}

.assignment-row td {
  border-bottom-width: 0;
}

.assignment-detail {
  overflow: hidden;
  display: flex;
}

.assignment-haut {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.assignment-eleve {
  font-size: 15px;
  line-height: normal;
}

.assignment-nom{
  font-weight: bold;
  font-size: 25px;
  line-height: normal;
}

.assignment-description {
  padding: 16px;
}

.assignment-description-attribution {
  opacity: 0.5;
}

.assignment-matiere {
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.assignment-note {
  font-size: 15px;
  font-weight: bold;
}

.assignment-prof {
  float: right;
}

.imageProf {
  max-width: 300px;
}
