<mat-toolbar class="menu-color">
  <button (click)="drawer.toggle()" mat-icon-button type="button">
    <mat-icon class="menu-button">menu</mat-icon>
  </button>
  <a class="toolbar-button" routerLink="/home">
    Assignments
  </a>
  <span class="spacer"></span>
  <a *ngIf="!authService.loggedIn" (click)="login()" class="toolbar-button" routerLink="/home">
    Se connecter
  </a>
  <a *ngIf="authService.loggedIn" (click)="login()" class="toolbar-button" routerLink="/home">
    Se déconnecter
  </a>
</mat-toolbar>

<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer class="menu-color" mode="side">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/home'"> Liste assignments </a>

    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">

    <br>
    <button (click)="remplirBD()"
            color="primary"
            mat-raised-button
    >
      PEUPLER BD
    </button>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>



