<mat-toolbar class="menu-color">
  <button (click)="drawer.toggle()" mat-icon-button type="button">
    <mat-icon class="menu-button">menu</mat-icon>
  </button>
  <a class="toolbar-button" routerLink="/home">
    Assignments
  </a>
  <span class="spacer"></span>
  <button mat-raised-button *ngIf="!this.authService.loggedIn"  color="primary" (click)="register()" class="signup-logout-button" routerLink="/home">
    S'inscrire
  </button>
  <button mat-raised-button *ngIf="!this.authService.loggedIn" (click)="login()" class="login-button" routerLink="/home">
    Se connecter
  </button>
  <button mat-raised-button *ngIf="this.authService.loggedIn" color="accent" (click)="logout()" class="signup-logout-button" routerLink="/home">
    Se déconnecter
  </button>
</mat-toolbar>

<mat-drawer-container class="content" autosize>
  <mat-drawer #drawer class="menu-color" mode="side">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/home'"> Liste assignments </a>
      <a *ngIf="this.authService.loggedIn" [routerLink]="'/profile/' + authService.currentUser._id" mat-list-item>
        Profil </a>

    </mat-nav-list>
  </mat-drawer>

  <div class="container-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

