.content {
  height: 92vh;
}

section {
  display: table;
}

mat-toolbar {
  height: 8vh;
}

.menu-button {
  font-size: 30px;
  color: white;
}

.toolbar-button {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.menu-color {
  background-color: midnightblue;
}

.mat-list-item{
  color: white;
}

.login-button {
  width: 125px;
  color:  midnightblue;
  margin: 5px;
}

.signup-logout-button {
  width: 125px;
  color:  white;
  margin: 5px;
}
