<h2 mat-dialog-title>S'inscrire</h2>

<mat-dialog-content class="container">

  <mat-form-field class="field" appearance="outline">
    <mat-label>E-mail</mat-label>
    <input [(ngModel)]="email" matInput placeholder="Ex : jean@gmail.com">
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Nom</mat-label>
    <input [(ngModel)]="name" matInput>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">Annuler</button>
  <button mat-raised-button color="primary" (click)="register()" [mat-dialog-close]="true" cdkFocusInitial>S'inscrire</button>
</mat-dialog-actions>
